[Unit]
Description=Bridge between ams-backend and a card reader
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/ams-projects/rdr-bridge/main.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillMode=control-group
User=pi
Group=pi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rdr-bridge

[Install]
WantedBy=multi-user.target
